In [30]:
import sys
import os
import pandas as pd
sys.path = [os.path.abspath('..')] + sys.path

In [31]:
from utils import settings, data_loader, features

In [32]:
data = data_loader.get_raw_data()

In [37]:
train, test = data_loader.train_test_split(data['assessments'])

In [38]:
features.Feature()

(149, 6)

In [41]:
data.keys()

dict_keys(['student_assessment', 'student_info', 'student_vle', 'courses', 'vle', 'student_registration', 'assessments'])

In [46]:
df = data['student_info'][['gender', 'id_student']].set_index('id_student')

In [52]:
df['female'] = 1 * (df['gender'] == 'F')

In [56]:
df[['female']].shape

(32593, 1)

In [57]:
df[['female']]

            female
id_student
11391            0
28400            1
30268            1
31604            1
32885            1
...            ...
2640965          1
2645731          1
2648187          1
2679821          1
2684003          1

[32593 rows x 1 columns]

In [59]:
df[['female']].index.is_unique

False